<%= form_for :course, {url: {controller: "class", action: "create"}, html: {role: "form", class: "col-xs-5 form-horizontal" , multipart: true}} do |f| %>
 <%  if session[:err_msg][1].blank? %>
    <div class="form-group">
<% else %>
    <div class="form-group has-warning">
 	<% session[:err_msg][1] = nil %>

	<% end %>
      <%= f.label :name, "Class", class: "col-sm-4"  %>
      <div class="col-sm-8">
        <%= f.text_field :name, class: "form-control"%>
      </div>
    </div>
 <%  if session[:err_msg][2].blank? && session[:err_msg][3].blank?%>
    <div class="form-group">
<% else %>
    <div class="form-group has-warning">
 	<% session[:err_msg][2] = nil %>
 	<% session[:err_msg][3] = nil %>
	<% end %>
	      <%= f.label :file, "Data file", class: "col-sm-4" %>
      <div class="col-sm-8">
        <%= file_field_tag :file, class: "btn" %>
        <div class="dummyfile">
          <%= text_field_tag "filename",nil, {class: "input disabled form-control", readonly: true} %>
          <a id="fileselectbutton" class="btn btn-default">Choose...</a>
     <%= image_tag("Actions-help-about-icon.png", id: "upload_tooltip", alt: "help icon", "data-toggle" => "tooltip", title: "Please select a CSV file exported from Access Adelaide") %>
        </div>
      </div>  
    </div>
	 <%  if session[:err_msg][4].blank? %>
   	 	<div class="form-group">
	<% else %>
    	<div class="form-group has-warning">
	 	<% session[:err_msg][4] = nil %>
	<% end %>
	<%= f.label :group_size, "Group Size", class: "col-sm-4" %>
    <div class="col-sm-8">
		<%= number_field_tag 'group_size', nil, in: 1...10 %>
    </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <%= f.submit "Add", class: "btn btn-default" %>
      </div>
    </div>
<% end %>
