<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Groupify</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/stylesheets/bootstrap.css" rel="stylesheet">


</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Groupify</a>
            </div>

 	<div class="navbar-form navbar-left">
  <button onclick="window.location.href='/lecturer'" class = "btn btn-success">Home</button>
  <button onclick="window.location.href='/class'" class = "btn btn-success">Classes</button>
  <button onclick="window.location.href='/upload'" class = "btn btn-success">Upload Students</button>

       </div>
 	<div class="navbar-form navbar-right">
  <button onclick="window.location.href='/'" class = "btn btn-success">Log Out</button>
       </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <!-- List of classes for this lecturer 
    <table><tr><td>Class</td><td>Number of students</td><td>Grouped</td></tr>


      <tr><td>Introduction to programming
        </td><td>300</td><td>No</td></tr>

      <tr><td>Programming in C/C++</td><td>230</td><td>No</td>
      </tr>

      <tr><td>Algorithms and data structures</td><td>270</td><td>Yes</td></tr>

      </tr>

    </table>

    <!-- Button to add class 

    <button name="Add_class" value="add_class" onclick="add_class">Add a class</button>
    -->
    <!-- List of courses this lecture teaches -->
    <% if @courses != nil %>
      <div>
        <table>
        <tr>
          <th>Course name</th>
          <th>Number of students</th>
          <th>Grouped</th>
        </tr>
       
        <% if @courses.count > 1
            
            @courses.each do |course| %>
              <tr>
                <td><%= course.name %> </td>
                
              </tr>
            <% end
          else %>
              <tr>
                <td><%= @courses.name %> </td>
                
              </tr>
          <% end %>
        </table>
      </div>
    <% else %>
    <p>You currently have no classes in Groupify.</p>
    <% end %>

    <button name="add_course" value="add_course" onclick="window.location.href='/class/new'">Add a class</button>

      <footer>

            All Images <img src='http://i.creativecommons.org/l/by/2.0/80x15.png' alt='Creative Commons Attribution 2.0 Generic License' title='Creative Commons Attribution 2.0 Generic License' border='0'></a>&nbsp;&nbsp;by&nbsp;<a href='http://www.flickr.com/people/francisco_osorio/' target='_blank'>&nbsp;</a><a xmlns:cc='http://creativecommons.org/ns#' rel='cc:attributionURL' property='cc:attributionName' href='http://www.flickr.com/people/francisco_osorio/' target='_blank'>francisco_osorio</a><a href='http://www.imagecodr.org/' target='_blank'>&nbsp;</a>
            <p>Copyright &copy; Groupify Pty Ltd 2013</p>
        </footer>
        <!-- /END OF FOOTER -->

    </div>
    <!-- /container -->

    <!-- JavaScript -->
    <script src="../../assets/javascripts/jquery-1.10.2.js"></script>
    <script src="../../assets/javascripts/bootstrap.js"></script>

</body>

</html>