<div class="container">
  <!-- List of courses this lecture teaches -->
  <h1>Classes</h1>
    <table class="table">
    <tr>
      <th>Course name</th>
      <th>Number of students</th>
      <th>Study Period</th>
      <th>Grouped</th>
      <th>Tools</th>
    </tr>

  <% if @courses != nil && @courses.count > 0 %>
       <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.name, controller: "class", action: "show", id: course.name %></td>
            <td>100</td>
            <td>1 Jan 1991 - 2 Jan 1991</td>
            <td>No</td>
            <td></td>
          </tr>
        <% end %>
    <% end %>
      <tr>
        <td colspan="5">
          <%= button_tag("Add a class", {class: "btn btn-default", id: "add_class"}) %>

        <%= button_tag("Add a class", {class: "btn btn-default", onclick: "window.location.href='/class/new'"}) %></td></tr>
    </table>
</div>