<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Groupify</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'One Page Wonder' Template -->
    <link href="css/one-page-wonder.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php">Groupify</a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- /container -->
    <div class="container" style="width:100%; top:50%; position:absolute; left:0px; display: block; height: 1px; overflow: visible; visibility: visible; text-align: center">

        <div class="container" style="width: 700px; height:70px; position: absolute; left: 50%; margin-left: -350px; top: -100px;">
            <h1>Thank You For Your Feedback</h1>
            <div class="container" style="text-align: left; width: 400px">
     
                  <button onclick="window.location.href='/'" class="btn btn-default">Back</button>

            </div>
        </div>

    </div>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>
