<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Introduction of the Team">
    <meta name="author" content="Groupify">

    <title>About Us</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../../../public/stylesheets/bootstrap.css" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Groupify</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                </ul>
            </div-->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
      <h1>Groupify Blog</h1>
      <div class="row">
        <h2>In the beginning...</h2>
        <h4><span class="text-muted">17 February 2014 </span></h4>
        <p>This is our inaugural blog post! The four of us have been busy working away for a few weeks now,
        since 14 January this year. We almost have our minimum viable product ready! Now it's time to find
        a few brave, visionary, early adopters to give it a go. Actually, they don't need to be so
        brave. The rails app can now handle student data in a csv format, and it can perform
        group sorting using a random function. In its current state the app is perhaps just a little
        more convenient than doing a <a href="http://www.lifehacker.com.au/2012/03/how-to-sort-a-list-randomly-in-excel/">
          random sort in excel.</a></p>
      </div>

    </div>
        <hr>

        <footer>
            <div class="row">
              <ul class="nav navbar-nav">
                    <li><a href="/about">About</a>
                    </li>
                     <li><a href="/about/blog">Blog</a>
                    </li>
                    <li><a href="/contact">Contact</a>
                    </li>
                </ul>
                <div class="col-lg-12">
                    <p>Copyright &copy; Groupify 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>