<body>

  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/"><%= image_tag( "Groupify2small.png", :alt => "Form groups quickly and easily" ) %></a>
    </div>

    <div class="navbar-form navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="/features">Features</a></li>
        <li><a href="/about/blog">Blog</a></li>
        <li><a href="/signup/signup">Sign up!</a></li>
      </ul>

      <% if session[:user_id] == nil %>
        <a href="/login/login" class = "btn btn-success" >Log in</a>
      <% else %>
        <a href="/lecturer" class = "btn btn-success" >Home</a>
      <% end %>
    </div>
  </div>
</nav>

    <div class="container">
      <div class="row blogitem">
        
        <img src="/images/TeamAtWork.jpg" class="pull-right">
        <h2>In the beginning...</h2>
        <h4><span class="text-muted">17 February 2014 </span></h4>
        
        <p>This is our inaugural blog post! The four of us have been busy working away for a few weeks now,
        since 14 January this year. We almost have our minimum viable product ready! Now it's time to find
        a few brave, visionary, early adopters to give it a go. Actually, they don't need to be so
        brave. The rails app can now handle student data in a csv format, and it can perform
        group sorting using a random function. In its current state the app is perhaps just a little
        more convenient than doing a <a href="http://www.lifehacker.com.au/2012/03/how-to-sort-a-list-randomly-in-excel/">
          random sort in excel.</a></p>
      </div>

    
        <hr>
      <div class="row blogitem">
        

      </div>

        

    </div>
    <!-- /container -->
<footer>
<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="nav navbar-nav">
          <li><a href="/about">About us</a></li>
          <li><a href="/about/privacy">Privacy policy</a></li>
        </ul>
      </div>
    </div>

   <div class="row">
    <div class="col-sm-6">
      <div style="padding:0px 15px">
      <p>All Images <img src='http://i.creativecommons.org/l/by/2.0/80x15.png' alt='Creative Commons Attribution 2.0 Generic License' title='Creative Commons Attribution 2.0 Generic License' border='0'></a>&nbsp;&nbsp;by&nbsp;<a href='http://www.flickr.com/people/francisco_osorio/' target='_blank'>&nbsp;</a><a xmlns:cc='http://creativecommons.org/ns#' rel='cc:attributionURL' property='cc:attributionName' href='http://www.flickr.com/people/francisco_osorio/' target='_blank'>francisco_osorio</a><a href='http://www.imagecodr.org/' target='_blank'>&nbsp;</a></p>
      <p>Copyright &copy; Groupify 2014</p>
    </div>
    </div>

    <div class="col-sm-6" id="socialmediaicons">
      <a href="https://www.facebook.com/groupifyau"><%=  image_tag( "fb.png", :alt => "Form groups quickly and easily" ) %></a>
      <a href="https://plus.google.com/101720690552888097186" rel="publisher"><%=  image_tag( "google+.png", :alt => "Form groups quickly and easily" ) %></a>
      <a href="https://twitter.com/GoGroupify"><%=  image_tag( "twitter.png", :alt => "Form groups quickly and easily" ) %></a>
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script><g:plusone></g:plusone>
    </div>

    </div>
  </div>
</footer>
