<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Introduction of the Team">
    <meta name="author" content="Groupify">

    <title>About Us</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../../../public/stylesheets/bootstrap.css" rel="stylesheet">

</head>

<body>
  
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>About Groupify</h1>
        </div>
      </div>
    </div>
  </div>
  
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h2>introduction heading 2</h2>
          <h3>introduction heading 3</h3>
          <p>introduction paragraph</p>
        </div>
        <div class="span6">
          <ul class="thumbnails">
            <li class="span3 ">
              <div id="team" class="thumbnail">
                <img alt="" src="" />
                  <div class="caption">
                    <h4>name1</h4>
                    <p><em>Co-founder</em></p>
                    <a href=""><div class="jpcs-social linkedin"></div></a>
                  </div>
              </div>
            </li>
            <li class="span3">
              <div id="team" class="thumbnail">
               <img alt="" src="" />
                 <div class="caption">
                   <h4>name2</h4>
                   <p><em>Co-founder</em></p>
                   <a href=""> <div class="jpcs-social linkedin"></div></a>
                 </div>
              </div>
             </li>
             <li class="span3">
               <div id="team" class="thumbnail">
                <img alt="" src="" />
                  <div class="caption">
                    <h4>name3</h4>
                    <p><em>Co-founder</em></p>
                    <a href=""> <div class="jpcs-social linkedin"></div></a>
                  </div>
               </div>
              </li>
            <li class="span3">
              <div id="team" class="thumbnail">
               <img alt="" src="" />
                 <div class="caption">
                   <h4>name4</h4>
                   <p><em>Co-founder</em></p>
                   <a href=""> <div class="jpcs-social linkedin"></div></a>
                 </div>
              </div>
             </li>

           </ul>

<br />
<a href=""><div class="jpcs-social facebook "></div></a>
<a href=""><div class="jpcs-social twitter "></div></a>
<a href=""><div class="jpcs-social linkedin "></div></a>
         </div>
       </div>
     </div>
   </div>

</body>