<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Introduction of the Team">
    <meta name="author" content="Groupify">

    <title>About Us</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../../../public/stylesheets/bootstrap.css" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Groupify</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                </ul>
            </div-->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>Enabling group based learning</small>
                </h1>
                <p>We're passionate about assisting lecturers and students to make the most of group-based learning.</p>
                <p></p>
            </div>

            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img class="img-circle img-responsive" src="/images/yp.jpg">
                <h3>Yifei Pei
                    <small>Co Founder / Marketing</small>
                </h3>
                <p>Yifei is our business guru. He can code, but mainly he works on making sure the business can thrive.</p>
            </div>
            <div class="col-lg-6 col-sm-12">
                <img class="img-circle img-responsive" src="/images/ic.jpg">
                <h3>Ivan Chen (Xi)
                    <small>Co Founder / Back-end Development</small>
                </h3>
                <p>Ivan maps out our back-end services and leads the way in implementing the functionality we need.</p>
            </div>
        </div>
      <div class="row" >
            <div class="col-lg-6 col-sm-12">
                <img class="img-circle img-responsive" src="/images/rv.jpg">
                <h3>Retief Visser
                    <small>Co Founder / Front-end Development</small>
                </h3>
                <p>Retief is our front-end wizard. From making mock-ups to writing code for our app.</p>
            </div>
            <div class="col-lg-6 col-sm-12">
                <img class="img-circle img-responsive" src="/images/dw.jpg">
                <h3>Des Wagner
                    <small>Co Founder / Customer Development</small>
                </h3>
                <p>It's Des's job to ensure that we're building the right product for our customers.
                </p>
            </div>
        </div>

        <hr>

        <footer>
            <div class="row">
              <ul class="nav navbar-nav">
                    <li><a href="/about">About</a>
                    </li>
                     <li><a href="/about/blog">Blog</a>
                    </li>
                    <!--li><a href="">Contact</a>
                    </li-->
                </ul>
                <div class="col-lg-12">
                    <p>Copyright &copy; Groupify 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>