// Place all the styles related to the grouped controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.groupcount {
	display: inline;
	font-size: 24px;
	font-weight: bold;
}