// Place all the styles related to the lecturer_application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lecturerfooter {
    position: relative;
}

.gn-menu-wrapper {
	top: 70px;
}

a.gn-icon-menu.gn-icon:hover {
	background: transparent;
}

.gn-menu-main > li:last-child {
	border: none;
}