// Place all the styles related to the lecturer_application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lecturerfooter {
    position: relative;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
   padding-bottom: 111px;
}
#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   /*height:60px;   /* Height of the footer */
}

body {
    padding-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

 .blogitem {
     margin: 30px;
}

.invalid_notice {
	color: red;
}

.navbarbuttons {
    padding-top:15px;
}

#calltoaction {
    height: 95%;
    width: 100%;
}

#footernav {
    padding: 0px 20px 0px 20px;
}

#getstarted {
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

#socialmediaicons {
    text-align: right;
    margin-bottom: 1em;
}

#socialmediaicons a:hover {
    background-color: transparent;
}

footer {
    background-color: #b0b0b0;
    margin: 0px;
}

