<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/"><%= image_tag( "Groupify2small.png", :alt => "Form groups quickly and easily" ) %></a>
    </div>

    <div class="navbar-form navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="/features">Features</a></li>
        <li><a href="/about/blog">Blog</a></li>
        <li><a href="/signup/signup">Sign up!</a></li>
      </ul>

      <% if session[:user_id] == nil %>
        <a href="/login/login" class = "btn btn-success" >Log in</a>
      <% else %>
        <a href="/lecturer" class = "btn btn-success" >Home</a>
      <% end %>
    </div>
  </div>
</nav>


<div class="container">
 <!-- START THE FEATURETTES -->

      <div class="featurette" id="about">
        <img class="featurette-image img-circle img-responsive pull-right" src="/images/8424476075_8e33ab63fc_o.jpg">
        <h2 class="featurette-heading">Save Yourself The Headache
            <span class="text-muted">Let Us Do The Sorting.</span>
        </h2>
        <p class="lead">We know that lecturers can spend hours, if not days, manually sorting students into groups for group based learning. Our web service will form groups for you, and notify your students.</p>
    </div>


    <!-- /END THE FEATURETTES -->


</div>


<footer>
<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="nav navbar-nav">
          <li><a href="/about">About us</a></li>
          <li><a href="/about/privacy">Privacy policy</a></li>
        </ul>
      </div>
    </div>

   <div class="row"> 
    <div class="col-sm-6">
      <div style="padding:0px 15px">
      <p>All Images <img src='http://i.creativecommons.org/l/by/2.0/80x15.png' alt='Creative Commons Attribution 2.0 Generic License' title='Creative Commons Attribution 2.0 Generic License' border='0'></a>&nbsp;&nbsp;by&nbsp;<a href='http://www.flickr.com/people/francisco_osorio/' target='_blank'>&nbsp;</a><a xmlns:cc='http://creativecommons.org/ns#' rel='cc:attributionURL' property='cc:attributionName' href='http://www.flickr.com/people/francisco_osorio/' target='_blank'>francisco_osorio</a><a href='http://www.imagecodr.org/' target='_blank'>&nbsp;</a></p>
      <p>Copyright &copy; Groupify 2014</p>
    </div>
    </div>

    <div class="col-sm-6" id="socialmediaicons">
      <a href="https://www.facebook.com/groupifyau"><%=  image_tag( "fb.png", :alt => "Form groups quickly and easily" ) %></a>
      <a href="https://plus.google.com/101720690552888097186" rel="publisher"><%=  image_tag( "google+.png", :alt => "Form groups quickly and easily" ) %></a>
      <a href="https://twitter.com/GoGroupify"><%=  image_tag( "twitter.png", :alt => "Form groups quickly and easily" ) %></a>
    </div>
        
    </div>
  </div>
</footer>